@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit</h2>

<h4>Edit this stylist info: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name, new {@class = "form-control", type="text", required="text"})

  @Html.LabelFor(model => model.Speciallity)
  @Html.EditorFor(model => model.Speciallity, new {@class = "form-control", type="text", required="text"})

  @Html.LabelFor(model => model.PayRate)
  @Html.EditorFor(model => model.PayRate, new {@class = "form-control", type="number", step=".01", required="number"})

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list of stylists", "Index")</p>